/* LoadingScreen.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Fuldsides-visning */
  background-color: #ffffff; /* Hvid baggrund */
}

.loading-logo {
  width: 150px; /* Tilpas størrelsen af logoet */
  height: auto;
}

/* Onboarding.css */
.onboarding-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.onboarding-slide {
  text-align: center;
}

.onboarding-image {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
